# ---------------------------------------------------------
# OS
# ---------------------------------------------------------

# MacOS
.DS_Store

# Windows
Desktop.ini

# ---------------------------------------------------------
# IDE
# ---------------------------------------------------------

# VS Code
*.code-workspace
.devcontainer/
.vscode/

# Terraform
*.tfstate
*.backup
.terraform
*.hcl
plan.out
